/* Common */

:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;
  --text-color: #5f5b53;
  --white-color: #ffffff;
  --font-heading: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.heading-lv3 {
  font-size: 1.6rem;
  font-family: var(--font-heading);
  color: var(--text-color);
}

body {
  background-color: #e36623;
  width: 100%;
  height: 65rem;
  color: var(--white-color);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header__logo p {
  font-size: 12.8rem;
  transform: rotate(-90deg);
  display: inline-block;
  margin-top: 17rem;
  border-bottom: 1px solid var(--white-color);
}

.header__info {
  display: grid;
}

.header__name {
  font-size: 5rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__job {
  display: flex;
}

.header__job p {
  border-top: 1px solid var(--white-color);
  margin-top: 5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header__image img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 5rem 10rem 0 0;
}

.summary {
  margin: 3.5rem 0rem 3.5rem 0rem;
}

.summary__info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  font-size: 3rem;
  align-content: center;
  justify-items: center;
}

.summary__info a {
  text-decoration: none;
  color: var(--white-color);
}

.summary__info a:hover {
  color: var(--text-color);
}

@media (max-width: 768px) {
  html {
    font-size: 50%; /* Giảm kích thước font gốc */
  }

  body {
    font-size: 1.4rem; /* Giảm kích thước font chữ */
  }

  .header {
    grid-template-columns: 1fr; /* Chuyển sang 1 cột */
    text-align: center;
  }

  .header__logo p {
    font-size: 8rem; /* Giảm kích thước chữ */
    margin-top: 5rem;
  }

  .header__info {
    margin-top: 5rem;
    width: auto; /* Cho phép co giãn theo màn hình */
    height: auto;
  }

  .header__name {
    font-size: 3rem; /* Giảm kích thước chữ */
  }

  .header__job p {
    font-size: 2.5rem; /* Giảm kích thước chữ */
    margin-top: 2rem;
  }

  .header__image img {
    width: 20rem; /* Giảm kích thước ảnh */
    height: 20rem;
    margin: 2rem auto;
  }

  .summary__info {
    grid-template-columns: 1fr; /* Chuyển sang 1 cột */
    gap: 2rem; /* Giảm khoảng cách giữa các phần tử */
  }

  .summary__info a {
    font-size: 2rem; /* Giảm kích thước chữ */
  }
}
