/* Common */

:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;
  --text-color: #5f5b53;
  --white-color: #ffffff;
  --font-heading: "Sen", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.heading-lv3 {
  font-size: 1.6rem;
  font-family: var(--font-heading);
  color: var(--text-color);
}

span {
  background-color: #ffb900;
  font-weight: bolid;
}

body {
  background: linear-gradient(135deg, #ff9a9e, var(--white-color));
  width: 100%;
  color: var(--white-color);
}

.summary {
  margin: 3.5rem 0rem 3.5rem 0rem;
}

.summary__info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  font-size: 3rem;
  align-content: center;
  justify-items: center;
}

.summary__info a {
  text-decoration: none;
  color: var(--white-color);
}

.summary__info a:hover {
  color: var(--text-color);
}

hr {
  margin-top: 5rem;
  width: 50%;
  height: 2px;
}

.imageschool {
  margin-top: 10rem;
  background-color: var(--white-color);
  height: 44.6rem;
  display: flex;
  color: var(--secondary-color);
  justify-content: space-between;
  gap: 1rem;
}

.imageschool__left {
  margin-left: 4rem;
}

.imageschool__logo img {
  width: 30rem;
}

.imageschool__anh1 {
  margin-bottom: auto;
}

.imageschool__anh1 img {
  width: 30rem;
}

.imageschool__center {
  margin-right: 4rem;
}

.imageschool__center .main {
  display: flex;
}

.imageschool__center .main .left .top,
.imageschool__center .main .left .bottom {
  display: flex;
}

.imageschool__anh2 img {
  margin-top: 5rem;
  margin-right: 2rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 3rem;
}

.imageschool__anh3 img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 2rem;
}

.imageschool__anh4 img {
  width: 30rem;
  object-fit: cover;
  margin-left: 5rem;
  border-radius: 1rem;
  height: 15rem;
  object-fit: cover;
}

.imageschool__anh5 img {
  width: 35rem;
  object-fit: cover;
  margin-left: 2rem;
  border-radius: 1rem;
  height: 17rem;
  object-fit: cover;
  margin-right: auto;
}

.imageschool__center .main .right {
  margin-left: 5rem;
}

.imageschool__anh6 img {
  object-fit: cover;
  border-radius: 1rem;
  height: 41rem;
  object-fit: cover;
}

.address {
  color: var(--secondary-color);
}

.info-education {
  margin: 10rem 10% 0rem 10%;
  color: var(--secondary-color);
}
ul {
  list-style: disc;
  padding-left: 4rem;
}

ul li {
  margin-top: 2rem;
}

.info-education .heading-lv2 {
  margin-bottom: 5rem;
  padding-left: 3rem;
}

.image {
  margin: 10rem 10% 0 10%;
}

.image img {
  border-radius: 5rem;
}

.image__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.image__anh1 {
  height: 30rem;
}

.image__anh2 {
  height: 30rem;
  width: 73.5rem;
  object-fit: cover;
}

.image__anh3 {
  margin-top: 3rem;
  width: 100%;
}

footer {
  margin: 10rem 20rem 0 20rem;
  color: var(--secondary-color);
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer .content p {
  font-size: 2.5rem;
  text-align: center;
}
